<!-- <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header> -->
<ion-content>
    <ion-list>
        <div class="top-page">
          <h2  text-center>
              <img src="assets/imgs/logo.png" alt="">
          </h2>
            
        </div>
        <div class="middle-page">        
      
            <ion-item class="phone">
              <ion-input type="text" [(ngModel)]="phone"  placeholder="Nomor Handphone"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
            </ion-item>
          
          
          
            <button ion-button full (click)="login()"  color="primary">Sign In</button>
            <div class="notice" style="text-align:center;margin-top:10px; color:#fff;">
                Apabila belum mendaftar, silakan: 
            </div>
            <br>
            <button ion-button full (click)="showRegisterPage()" style="float: right;margin-top:10px;bottom:20px;">Daftar Sekarang</button>
        </div>
      
      </ion-list>
      <ion-item>
        <p style="text-align: center;">
          Luck Mas v1.0 by <a href="http://butternutwebsite.com">Butternut Digital</a>
        </p>
      </ion-item>
</ion-content>
