<!--
  Generated template for the WaitpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mohon Tunggu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Silahkan tunggu hingga admin kami mengaktifkan akun anda.</h4>
</ion-content>
