page-single {
    .product-detail {
        margin-top:5px;
        height: 55%;
        position: relative; //    border-bottom: 1.5px solid #e4e4e4;
        .slide-zoom {
            height: 100%;
            // img {
            //     // width: 100%;
            // }
        }
        .action-btn-wrap {
            position: absolute;
            bottom: -22px;
            z-index: 1000;
            right: 2px;
        }
        .wish-list-btn,
        .share-btn {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        .row{
            width:80%;
            margin: 0 auto;
            text-align:center;
        }
        .qty{
             padding-top: 9px;
        }
    }
    ion-footer.single-footer {
        height: 55px;
        ion-grid {
            height: 55px;
            padding: 0;
            ion-row {
                padding: 0;
                
                .addCart{
                      button{
                         height: 55px;  
                      }   
               }
                ion-col {
                    padding: 0;
                    // height: 40px;

                    
                }
            
            }
        }
    }
}
// .row{
//     width:80%;
//     margin: 0 auto;
//     text-align:center;
//     // margin-bottom:10px;
// }