<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title text-capitalize>
      {{selectProduct?.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="card product-detail">
    <ion-slides pager=true  slidesPerView=1 >
      <ion-slide *ngFor="let prodImg of selectProduct?.images">
          <img src="{{prodImg}}" #imageToView (click)="onClick(imageToView)">
      </ion-slide>
    </ion-slides>
    <!-- <p text-center><strong>Double-Tap untuk Zoom</strong> </p>  -->

    <ion-row class="action-btn-wrap" no-padding>
      <ion-col text-right>
        <!-- <button ion-button icon-only class="wish-list-btn card" (click)="toggleWishList(item)" color="light">
          <ion-icon name="md-heart" color="gray"></ion-icon>
        </button> -->

        <!-- <button ion-button icon-only class="wish-list-btn card" (click)="toggleWishList(item)" color="light">
          <ion-icon name="share" color="gray"></ion-icon>
        </button> -->
      </ion-col>
    </ion-row>
    <div text-center padding margin-top class="border-bottom">
      <h2>{{selectProduct?.name}}</h2>
      <p>SKU: {{ selectProduct?.sku }}</p>
      <p>Berat: {{ selectProduct?.weight }} kg</p>
      <p>{{ selectProduct?.short_description }}</p>
      <h4 class="price" color="danger" margin-top>{{ selectProduct?.price | currency:'Rp. ':'code' }}</h4>
    </div>
    <ion-row padding- *ngFor="let stock of stocks; let i= index">
      <ion-col>
        <p><strong>{{stock.variance}} : </strong> (Stok: {{stock.stock}})</p>
      </ion-col>
      <ion-col class="qty" text-center>
        <button (click)="decreaseProductCount(i)" ion-button small color="light">
          -
        </button>
        <button ion-button small clear color="dark">
          {{stock.count}}
        </button>
        <button (click)="incrementProductCount(i)" ion-button small color="light">
          +
        </button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

<ion-footer class="single-footer">

  <ion-grid>
    <ion-row>
      <ion-col class="addCart" (click)="addToCart(selectProduct)">
        <button ion-button full color="secondary">
          Order
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>