<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Daftar User</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <div class="top-page">
          <h2  text-center>
              <img src="assets/imgs/logo.png" alt="">
          </h2>
            
        </div>
        <div class="middle-page">
          <ion-item class="username">
              <ion-input type="text" [(ngModel)]="name"  placeholder="Nama Anda"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" [(ngModel)]="address"  placeholder="Alamat Pengiriman"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="phone"  placeholder="Nomor Handphone"></ion-input>
              </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="password_confirmation" placeholder="Ulangi Password"></ion-input>
            </ion-item>
          
          
          
            <button ion-button full (click)="register()"  color="primary">Register</button>  
            
            <div class="notice" style="text-align:center;margin-top:10px; color:#fff;">
                Apabila sudah mendaftar, silakan: 
            </div>
            <br>
            <button ion-button full (click)="showLoginPage()" style="float: right;margin-top:10px;bottom:20px;">Login</button>
        </div>
      
      </ion-list>
</ion-content>
