<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!isSearchBarOpened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize *ngIf="!isSearchBarOpened">
      {{title}}
    </ion-title>
    <ion-searchbar #searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchBarOpened=false"></ion-searchbar>
    <ion-buttons end> 
      <button ion-button icon-only *ngIf="!isSearchBarOpened" (click)="searchBtn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="dark" (click)="closeSearch()">
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="goToCategory(category.idKategori)">
      <ion-thumbnail item-start>
        <img src="{{category.thumbKategori}}">
      </ion-thumbnail>
      <h2>{{category.namaKategori}}</h2>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>
  </ion-list>  

  <ion-grid>
    <ion-row *ngFor="let i of productRows">
      <ion-col *ngFor="let product of products | slice:(i*2):(i+1)*2" width-50 (click)="showDetails(product.idProduk)">
        <ion-card>
          <div class="card-img">
            <img src="{{product.thumb}}" alt="">
            <div class="overlay-product">
              <p><strong>{{product.sku}}</strong></p>
              <p><strong>Stok: </strong>(<span *ngFor="let stock of product.stock">
                {{stock.variance}}: {{stock.stock}}, 
              </span>)</p>
            </div>
          </div>
          <ion-card-content>
            <p text-capitalize>{{product.namaProduk}}</p>
            <p>
              <strong>{{product.price | currency:'Rp. ':'code':'1.0'}}</strong>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>