<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Keranjang Belanja
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="isEmptyCart" class="empty-cart">
    <div class="empty-results">
      <h3 text-center>
        <ion-icon name="cart"></ion-icon>
      </h3>
      <p text-center>
        Keranjang Belanja Anda Kosong
      </p>
    </div>
  </div>
  <div *ngIf="!isEmptyCart" class="cart-itm-wrap">
    <ion-card *ngFor="let itm of cartItems">
      <ion-card-content>
        <ion-row>
          <ion-col col-7>
            <h3 style="margin: 7px" text-left text-capitalize>{{itm.name}}</h3>
            <div class="itm-footer">
              <span (click)="removeItem(itm)" class="remove">
                Hapus
              </span>
              <span class="price">
                {{itm.totalPrice | currency:'Rp. ':'code':'1.0'}}
              </span>
            </div>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-avatar>
                <img style="float: right" src="{{itm.thumb}}" (click)="showDetails(itm.product_id)">
              </ion-avatar>
            </ion-item>
            <p style="color:#333" text-right *ngFor="let vr of itm.items">
              varian <strong>{{vr.variance}} : {{vr.count}} </strong>
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer *ngIf="!isEmptyCart" class="single-footer">
  <ion-grid>
    <ion-row>
      Total Belanja = {{totalAmount | currency:'Rp. ':'code':'1.0'}}
    </ion-row>
    <ion-row>
      <ion-col class="addCart" (click)="goBackHome()">
        <button round=false ion-button full color="primary">
         Lanjutkan Belanja
        </button>
      </ion-col>
      <ion-col class="addCart" (click)="checkOut()">
        <button round=false ion-button full color="secondary">
          Order Selesai
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
