<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Edit Profil Anda
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark">
  <ion-card>
    <ion-card-header>
      <ion-title text-center>Detail Profil</ion-title>
      <p text-center>(klik/tap untuk edit)</p>
    </ion-card-header>
        <ion-list inset>
          <ion-item>
            <ion-label>No. Handphone :</ion-label>
            <ion-input type="text" name="phone" [(ngModel)]="user_phone" [disabled]='true' ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nama Anda :</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="user_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>E-mail :</ion-label>
            <ion-input type="text" name="email" [(ngModel)]="user_email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Alamat :</ion-label>
            <ion-textarea name="address" [(ngModel)]="user_address"></ion-textarea>
          </ion-item>
          <ion-item>
            <button ion-button color="primary" (click)="toChangePass()">ubah password</button>
          </ion-item>
        
        </ion-list>
      </ion-card>
      <button block ion-button color="primary" (click)="saveProfile()">
          Simpan Perubahan
        </button>
    </ion-content>