page-home {
  
    ion-content {
        .card-img{
            position: relative;
        }
        .overlay-product{
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,.4);
            padding: 0 5px;
            width: 100%;
            p{
                color: #eee;
            }
        }        
        .scroll-content,
        fixed-content {
            
            background: color($colors,contentbg);
            ion-slides{
                height: auto;
                .slide-zoom{
                    height: 100%;
                    img{
                        width: 100%;
                        // height: 100%;
                        @media (min-width:768px) {
                            width:100%;
                        }
                    }
               }
            }

       
            .grid{
                padding: 5px 0;
                @media (min-width:768px){
                    width:95%;
                }
                .col{
                    padding:5px;
                    // height:320px;
                    ion-card{                        
                        border-radius: 0;
                        width: 100%;
                        margin: 1px;
                        height:100%;


                        // img{
                        //     border-bottom: 1px solid color($colors,contentbg);
                        //     padding: 20px;
                        //     height:70%;
                        // }
                        ion-card-content{
                            padding: 13px;
                            text-align:center;
                            background:#fff;
                            // height:50%;
                        }
                        
                    }
                }
            }
        }
    }
}