<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!isSearchBarOpened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize *ngIf="!isSearchBarOpened">
      Luck Mas Store
    </ion-title>
    <ion-searchbar #searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchBarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchBarOpened" (click)="searchBtn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="dark" (click)="closeSearch()">
  <ion-slides *ngIf="promoImagesLoaded" autoplay=3000 slidesPerView=1 loop=true>
    <ion-slide>
      <img src="https://luckmasadmin.com/images/sliders/dsn_luckmas_banner_01.jpg" alt="Banner Promosi Luck Mas">
    </ion-slide>
    <ion-slide>
      <img src="https://luckmasadmin.com/images/sliders/dsn_luckmas_banner_02.jpg" alt="Banner Promosi Luck Mas 2">
    </ion-slide>
  </ion-slides>
  <!-- <ion-slides *ngIf="promoImagesLoaded" autoplay=3000 slidesPerView=1>
    <ion-slide *ngFor="let promo of promoSliders">
      <img src="{{promo.name}}" alt="">
    </ion-slide>
  </ion-slides> -->
  <ion-card style="padding:10px 0;" *ngIf="showBtn" text-center>
    <!-- <button class="btn" ion-button block (click)="add_to_home()"  >Install Aplikasi</button> -->
    <h2>Install ke home screen</h2> <button class="btn" (click)="add_to_home()" ion-button color="danger">Tap disini</button>
  </ion-card>
  <h5 text-center>Produk Populer</h5>
  <ion-grid>
    <ion-row *ngFor="let i of productRows">
      <ion-col *ngFor="let product of products | slice:(i*2):(i+1)*2" width-50 (click)="showDetails(product.idProduk)">
        <ion-card>
          <div class="card-img">
            <img src="{{product.thumb}}" alt="">
            <div class="overlay-product">
              <p><strong>{{product.sku}}</strong></p>
              <p><strong>Stok: </strong>(<span *ngFor="let stock of product.stock">
                  {{stock.variance}}: {{stock.stock}},
                </span>)</p>
            </div>
          </div>
          <ion-card-content>
            <p text-capitalize>{{product.namaProduk}}</p>
            <p>
              <strong>{{product.price | currency:'Rp. ':'code':'1.0'}}</strong>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- autoplay=6000 -->