// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//Side Menu Styles
body {
     color: #555555 !important;
}

ion-content.dark {
     .fixed-content,
     .scroll-content {
          background: #ECECE2;
     }
}
.item-md ion-icon[item-left] + .item-inner {
    margin-left:0;
}
ion-menu {
    
     .menu-inner {
          ion-content {
               .fixed-content,
               .scroll-content {
                    padding-top: 2rem;
                    background: #4f4f4f;
                    ion-list {
                         .item,
                         .item-block,
                         .item-ios {
                              background: none;
                              border: none;
                              color: #eef4fa;
                              .item-inner {
                                   padding-left: 1.5rem;
                              }
                         }
                         .menu-divider {
                            padding-left: 18px;
                            font-size: 2vh;
                            border-top: 2px solid;
                            padding-top: 20px
                         }
                         .menu-special {
                            padding: 15px 0 0 16px;
                            font-size: 1.6rem;
                         }
                    }
                    hr{
                        display: none;
                    }
               }
          }
     }
     @media (min-width:1024px){
        display:none;
    }
}


.card {
     border-radius: 2px;
     font-size: 1.4rem;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.border-bottom {
     border-bottom: 1px solid #e4e4e4;
}

.text-white {
     color: #fff;
}

.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 230px;
    max-width: 17%;
    border-right: 1px solid #dedede;
    border-left: 0;
  }



// .split-pane-md.split-pane-visible {
    
//     &> .split-pane-side {
//         position: absolute;
//         height:143px;
//         z-index: 1;
//         width: 100vw;
//         max-width: initial;
//     }
//     ion-menu .toolbar-title-md{
//         // margin:10px 0 10px 100px;
//         // margin-left:px;
//         // margin-top:8px;
//         font-size: 2rem;
//         // background: blue;
//         text-align: center;
//         display:flex;
//         justify-content: center;
//         align-items: center;
        
//         &:before{
//             // position: absolute;
//             // left: 0;
//             // top: 0;
//             height: 40px;
//             width: 40px;
//             margin-right:10px;
//             display:inline-block;
//             content:'';
//             background: url('../assets/imgs/logo.png');
//             // background: #4f4f4f;
//             background-size: contain;
//         }
//     }
//     ion-menu .menu-inner ion-content .scroll-content{
//         padding-top: 0;
//         overflow-y: hidden;
//         // background: blue;
//         border:none;
//         display: flex;
//         justify-content: center;
//         ion-list .item-block{
//             display: inline-flex;
//             flex: initial;
//             -webkit-flex:initial;
//             -webkit-box-flex: initial;
//             width: initial;
            
//             &.pull-right{


//                 .item-inner{
//                     padding-left: .5rem;
//                     .input-wrapper, ion-label.label.label-md{
//                         margin-bottom:5px;
//                         margin-top:5px;
//                     }
//                 }
//             } 
//             ion-icon{
//                 display: none;
//             }
//             .item-inner, .input-wrapper, ion-label.label.label-md{
//                 display: inline-flex;
//                 flex: initial;
//                 -webkit-flex:initial;
//                 -webkit-box-flex: initial;
//             }
//         }
//         h4.item.menu-divider{
//             display: none;
//         }
//         ion-list .menu-divider{
//             border:none;
//             padding-top:0;
//         }
//         hr{
//             display: block;
//             width: 100%;
//             margin: 0;
//             border-top:solid 2px #fff;
//         }
//     }
//     .split-pane-main{
//         ion-content.dark .fixed-content,ion-content.dark .scroll-content{
//             padding-top:120px;
//         }
//         ion-header{
//             margin-top:143px;
//             margin-bottom:50px;
//             visibility: hidden;
//         }
//         .toolbar-title-md{
//             visibility: hidden;
//         }
//     }
// }
// .category{
//     display: flex;
//     justify-content: center;
// }