<ion-split-pane when="(min-width: 600px)">
  <ion-menu type="push" persistent="true" id="menuMain" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list no-lines>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="logout()">
          <ion-icon name="exit" item-left></ion-icon>Logout
        </button>
        <button class="item menu-divider menu-special" menuClose ion-item (click)="openAllProducts()">
          <ion-icon name="apps" item-left></ion-icon>Semua Produk
        </button>
        <h4 class="item menu-divider">Pilih Kategori</h4>
        <hr>
        <div class="category">
          <button class="pull-right" menuClose ion-item *ngFor="let cat of categories" (click)="goToCategory(cat.idKategori)">
            {{cat.namaKategori}}
          </button>
        </div>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
<br>