<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Edit Profil Anda
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark">
  <ion-card>
    <ion-card-header>
      <ion-title text-center>Ubah Password</ion-title>
    </ion-card-header>
    <ion-list inset>
      <ion-item class="bordered">
        <ion-input class="text-input" [type]="passwordType[0]" [(ngModel)]="old_pass" clearOnEdit="false" name="old_pass" placeholder="password lama.." ></ion-input>
        <ion-icon item-end [name]="passwordIcon[0]" class="passwordIcon" (click)='hideShowPassword(0)'></ion-icon>
      </ion-item>
      <ion-item class="bordered">
        <ion-input class="text-input" [type]="passwordType[1]" [(ngModel)]="new_pass" clearOnEdit="false" name="password" placeholder="password baru.." ></ion-input>
        <ion-icon item-end [name]="passwordIcon[1]" class="passwordIcon" (click)='hideShowPassword(1)'></ion-icon>
      </ion-item>
      <ion-item class="bordered">
        <ion-input class="text-input" [type]="passwordType[2]" [(ngModel)]="new_pass_confirm" clearOnEdit="false" name="password_confirmation" placeholder="ulangi password baru.." ></ion-input>
        <ion-icon item-end [name]="passwordIcon[2]" class="passwordIcon" (click)='hideShowPassword(2)'></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <button block ion-button color="primary" (click)="savePassword()">
    Ubah Password
  </button>
</ion-content>
