page-change-pass {
    
    .text-input::-moz-placeholder {
       font-style: italic;
    }
    
    .text-input:-ms-input-placeholder {
        font-style: italic;
    }
    
    .text-input::-webkit-input-placeholder {
        font-style: italic;
    }
    .passwordIcon{
        font-size:2.4rem !important;
        position: relative !important;
        top: 0px !important;
        padding: 4px;
        margin: 0 auto !important;
        color: #aaa;
     }
     ion-item.bordered{
         border: solid 2px #eee !important;
     }
}
