page-checkout {
     .scroll-content,
     fixed-content {
          padding: 5px;
          .important{
            border: 2px solid #fe9314;

            @keyframes blinker {
              50% {
                opacity: 0;
              }
            }
            
            ion-card-title{
              color:red;
              font-weight: 700;
              text-transform: uppercase;
              animation: blinker 1s linear infinite;
            }
            

          }
          ion-card {
               margin: 0 !important;
               width: 100% !important;
               margin-bottom: 9px !important;

               p.nomorHape{
                  margin: 10px 0;
                  color: black;
                  border: 1px solid #999;
                  padding: 10px;
               }

               span.amt{
                    float: right !important;
               }
               div.total-wrap{
                    padding: 0 16px 14px;
                    span.total{
                         color:#0058b6;
                    }
               }
               .paymentHeader{
                     font-size: 1.6rem;
                     font-weight: 600;
               }

               .bca{
                    height: 40px;
                    width: 80px;
                    background: url("https://luckmasadmin.com/images/logo_bank/bca-bank-logo.png");
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                    background-repeat: no-repeat;
               }
               .bni{
                    height: 60px;
                    width: 100px;
                    background: url("https://luckmasadmin.com/images/logo_bank/bni-bank-logo.png");
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                    background-repeat: no-repeat;
               }
          }

          button{
            margin: 11px 0;
          }
     }
}