<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title text-center>
      Pembayaran
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="dark">
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        Detail Pembelian
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 10px">
        Berikut adalah total yang harus anda bayarkan. Untuk ongkos kirim dan biaya packaging akan kami kalkulasikan, dan selebihnya
        akan kami informasikan kepada anda mengenai tambahan biaya tersebut.
      </p>
      <ion-row>
        <ion-col col-6>
          <strong>
            Subtotal
          </strong>
        </ion-col>
        <ion-col col-6>
          <span class="amt" text-right>
            {{productAmt | currency:'Rp ':'code'}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <strong>
            Ongkir/Packaging
          </strong>
        </ion-col>
        <ion-col col-6>
          <span class="amt" text-right>
            Diinfokan kemudian
          </span>
        </ion-col>
      </ion-row>

    </ion-card-content>
    <div class="total-wrap">
      <ion-row>
        <ion-col col-6>
          <strong>
            Total
          </strong>
        </ion-col>
        <ion-col col-6>
          <span class="amt total" text-right>
            {{productAmt | currency:'Rp ':'code':'1.0'}}
          </span>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="paymentHeader">
        Silakan melakukan pembayaran ke:
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <div class="bca"></div>
        </ion-col>

        <ion-col col-6>
          <p text-left>Bank BCA</p>
          <p>277 133 44 33 </p>
          <p>Lai Hok Melhan</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div class="bni"></div>
        </ion-col>

        <ion-col col-6>
          <p text-left>Bank BNI</p>
          <p>8888 998 189 </p>
          <p>Lai Hok Melhan</p>
        </ion-col>
      </ion-row>
    </ion-card-content>



  </ion-card>
  <ion-card class="important">
    <ion-card-title class="penting" text-center>Penting !!!</ion-card-title>
    <ion-card-content text-center>
      <p><strong>Setelah melakukan pembayaran, mohon mengirimkan konfirmasi pembayaran disertai bukti transfer melalui SMS/WA ke nomor : </strong></p>
        <p class="nomorHape">087877402700 (Gunawijaya)</p>
        <p class="nomorHape">083895538882 (Gunavandri)</p>
        <p class="nomorHape">08128472224 (Hari Purwoko)</p>
        <p> Terima kasih atas kepercayaan Anda.</p>
    </ion-card-content>
  </ion-card>
  <!-- <button (click)="goBackHome()" block ion-button color="primary">
    Lanjutkan belanja
  </button> -->
  <button (click)="placeOrder()" block ion-button color="secondary">
    Selesaikan Order
  </button>


</ion-content>
