<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Hubungi Admin
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark">
  <ion-card class="important">
    <!-- <ion-card-title text-center>Hubungi Admin</ion-card-title> -->
    <ion-card-content text-center>
      <p>Apabila ada pertanyaan, keluhan, maupun konfirmasi pembayaran, silakan hubungi kami dengan menekan tombol di bawah
        : </p>
      <a href="https://api.whatsapp.com/send?phone=6282118463082&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
        ion-button full>
        <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 082118463082&nbsp; (Gunawijaya)</strong>
      </a>
      <a href="https://api.whatsapp.com/send?phone=6283895538882&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
        ion-button full>
        <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 083895538882&nbsp; (Gunavandri)</strong>
      </a>
      <a href="https://api.whatsapp.com/send?phone=628128472224&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
        ion-button full>
        <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 08128472224&nbsp; (Hari Purwoko)</strong>
      </a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>
      <h1>
        Alamat Luck Mas Store
      </h1>
    </ion-card-title>
    <ion-card-content text-center>
      <ul>
        <li>
          Jl. Tampomas (Taman telor) Pasar Sumedang Kota lantai 2 blok KD no 2 <br>Kel. Kota Kaler. Kec. Sumedang Utara, Kab. Sumedang,<br>
          Kode pos : 45352.
        </li>
        <li>Komplek Duta Mas blok B5 . No. 21-22. Jl. Tb Angke - Jakarta Barat <br> Kode pos : 11460</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>
      Info Rekening
    </ion-card-title>
    <ion-card-content text-center>
      <ul>
        <li>BCA Cabang : Duta Mas - Jakarta <br>No rek. : 277 133 4433 <br>Nama : LAI HOK MELHAN</li>
        <li>BNI Cabang Sumedang <br>No rek. : 8888998189 <br>Nama : Bpk. LAI HOK MELHAN</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>