page-kontak {
    ion-content{
        ion-card{
            padding:20px;
            ion-card-content{
                ul{
                    padding:0;
                    li{
                        margin-bottom:20px;
                        // padding:10px 20px;
                        list-style: none;
                    }
                }
            }
        }
    }
    .important{
        padding:20px;
        strong{
            font-size: 90%;
        }
    }
}
