<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
      Status Order Anda
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark">
  <ion-card class="rekening">
    <ion-card-header>
      <ion-card-title class="paymentHeader" text-center>
        Info Rekening
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <div class="bca"></div>
        </ion-col>

        <ion-col col-6>
          <p text-left>Bank BCA</p>
          <p>277 133 44 33 </p>
          <p>Lai Hok Melhan</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div class="bni"></div>
        </ion-col>

        <ion-col col-6>
          <p text-left>Bank BNI</p>
          <p>8888 998 189 </p>
          <p>Lai Hok Melhan</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="hutang">
    <ion-card-header>
      <ion-card-title class="paymentHeader" text-center>{{ debtTitle }}</ion-card-title><hr>
    </ion-card-header>
    <ion-card-content text-center>
        {{debtTotal | currency:'Rp. ':'code':'1.2-2'}}
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card *ngFor="let debt of debts">
    <ion-list inset>
      Order no. {{debt.id}} ({{debt.date}})
      <br>Total Barang: {{debt.totalCount}}<br>Total Berat : {{debt.totalWeight}} kg
    </ion-list>
    <div class="detail">
      <ion-row text-center>
        <ion-col col-5>
          Nama
        </ion-col>
        <ion-col col-3>s
          Harga Satuan
        </ion-col>
        <ion-col col-4>
          Subtotal
        </ion-col>
      </ion-row>
      <hr>
      <ion-row *ngFor="let product of debt.products" class=orderDetail>
        <ion-col col-5 text-center>
          {{product.sku}} <br> {{product.name}} {{product.details}}
        </ion-col>
        <ion-col col-3 text-center>
          {{product.price/product.count | currency:'Rp. ':'code':'1.0'}}
        </ion-col>
        <ion-col col-4 text-center>
          {{product.price | currency:'Rp. ':'code':'1.0'}}
        </ion-col>
        
      </ion-row>
      <div text-center  style="margin-top:20px;" *ngIf=" debt.shipping != '0'">Ongkos kirim: {{debt.shipping | currency:'Rp. ':'code':'1.0'}} <br></div>
      <div text-center  style="margin-top:20px;" *ngIf=" debt.shipping != '0'">Ongkos kirim: {{debt.shipping | currency:'Rp. ':'code':'1.0'}} <br></div>
      <div text-center>
        Total : <strong>{{debt.total| currency:'Rp. ':'code':'1.0'}}</strong>
      </div><br>
    </div>
  </ion-card>
  <h4 text-center>{{ orderTitle }} {{orderTotal | currency:'Rp. ':'code':'1.0'}}</h4>
  <hr>
  <ion-card *ngFor="let order of orders">
    <ion-list inset text-capitalize>
      Order no. {{order.id}} ({{order.date}}) <br> Status Pemesanan: {{order.status}} <br> Pembayaran : {{order.payment}}
      <br>Total Barang: {{order.totalCount}}<br>Total Berat : {{order.totalWeight}} kg
      <br>
    </ion-list>
    <!-- <ul>
    <li *ngFor="let product of order.products">{{product.sku}}-{{product.name}} (@{{product.price | currency:'Rp. ':'code':'1.0'}}) <br><strong> {{product.details}}</strong></li>
  </ul> -->
    <hr>
    <div class="detail">
      
      <ion-row text-center>
        <ion-col col-5>
          Nama
        </ion-col>
        <ion-col col-3>
          Harga Satuan
        </ion-col>
        <ion-col col-4>
          Subtotal
        </ion-col>
      </ion-row>
      <hr>
      <ion-row *ngFor="let product of order.products" class=orderDetail>
        <ion-col col-5 text-center>
          {{product.sku}} <br> {{product.name}} {{product.details}}
        </ion-col>
        <ion-col col-3 text-center>
          {{product.price/product.count | currency:'Rp. ':'code':'1.0'}}
        </ion-col>
        <ion-col col-4 text-center>
          {{product.price | currency:'Rp. ':'code':'1.0'}}
        </ion-col>
        
      </ion-row>
      <div text-center  style="margin-top:20px;" *ngIf=" order.shipping == 0">Ongkos kirim: 0 <br></div>
      <div text-center  style="margin-top:20px;" *ngIf=" order.shipping != '0'">Ongkos kirim: {{order.shipping | currency:'Rp. ':'code':'1.0'}} <br></div>
      <div text-center>
        Total : <strong>{{order.total| currency:'Rp. ':'code':'1.0'}}</strong>
      </div><br>
    </div>

  </ion-card>
    <ion-card class="important">
      <ion-card-content text-center>
        <p>Apabila ada pertanyaan, keluhan, maupun konfirmasi pembayaran, silakan hubungi kami dengan menekan tombol di bawah
          : </p>
        <a href="https://api.whatsapp.com/send?phone=6282118463082&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
          ion-button full>
          <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 082118463082&nbsp; (Gunawijaya)</strong>
        </a>
        <a href="https://api.whatsapp.com/send?phone=6283895538882&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
          ion-button full>
          <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 083895538882&nbsp; (Gunavandri)</strong>
        </a>
        <a href="https://api.whatsapp.com/send?phone=628128472224&text=*Pesan%20customer%20%3A%20{{text}}%20dari%20Luck%20Mas%20Store*"
          ion-button full>
          <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon><strong>&nbsp; 08128472224&nbsp; (Hari Purwoko)</strong>
        </a>
      </ion-card-content>
  </ion-card>

</ion-content>