page-statusorder {
    .detail{
        // padding: 0 10px;
    }
    .paymentHeader{
        font-size: 1.6rem;
        font-weight: 600;
  }

  .bca{
       height: 40px;
       width: 80px;
       background: url("https://luckmasadmin.com/images/logo_bank/bca-bank-logo.png");
       -webkit-background-size: contain;
       -moz-background-size: contain;
       -o-background-size: contain;
       background-size: contain;
       background-repeat: no-repeat;
  }
  .bni{
       height: 60px;
       width: 100px;
       background: url("https://luckmasadmin.com/images/logo_bank/bni-bank-logo.png");
       -webkit-background-size: contain;
       -moz-background-size: contain;
       -o-background-size: contain;
       background-size: contain;
       background-repeat: no-repeat;
  }
  .rekening{
      border: 1px color($colors,primary) solid;
    }
    .hutang{
          background: color($colors,primary);

  }
  .orderDetail{
      border-bottom:1px solid #eee;
  }
  .important{
      padding:20px;
      strong{
          font-size: 90%;
      }
  }
}
