page-all-product {
    .card-img{
        position: relative;
    }
    .overlay-product{
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,.4);
        padding: 0 5px;
        width: 100%;
        p{
            color: #eee;
        }
    }
     .scroll-content,
     .fixed-content{
        ion-list{
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .grid{
            padding: 5px 0;
            @media (min-width:768px){
                width:95%;
            }
            .col{
                padding:5px;
                ion-card{                        
                    border-radius: 0;
                    width: 100%;
                    margin: 10px 0;
                    height:100%;


                    img{
                        // border-bottom: 1px solid color($colors,contentbg);
                        // padding: 20px;
                    }
                    ion-card-content{
                        padding: 10px 13px;
                        text-align:center;
                        // background:#f4f4f4;
                    }
                    
                }
            }
        }
    }
}
